body {
	background-color: #fff;
	line-height: 25px;
	color: #111;
}

p, ol, ul, .row {
	margin-bottom: 25px;
}

ol ul {
	padding-left: 25px;
}

img {
	width:100%;
}

.auto {
	width: auto;
}
.border {
	border:1px solid #ccc;
}

.center {
	text-align:center;
}

h4 {
	font-weight: 700;
}

.leftbar {
	width:25%;
	position:fixed;
	background: #ececec;
	height:100%;
}
.leftbar #container {
	padding:30px;
}

.wrapper {
	float:right;
	width:75%;
	height:100px;
}
.wrapper #content {
	width:80%;margin:30px auto 30px auto;
}

.logo {
	margin-bottom:30px;
	padding-bottom:30px;
	border-bottom: 1px solid #d7d8da;
	text-align:center;
}
.logo img {
	width:75%;
	height:auto;
}

.toc h3 {
	text-transform:uppercase;
	font-weight:700;
	margin:0 0 10px 0;
	text-decoration:underline;
	font-size:16px;
}
.toc ol {
	padding-left:20px;
}
.toc ol a.nav-active,
a.nav-active {
    color:#c93961;
	font-weight:700;
}
.toc ol a {
	color: #000;
}
.toc ol a:hover {
	text-decoration:none;
}
a:focus {
	text-decoration:none;
}

.cover {
	margin-bottom:40px;
	background: #efefef;
	padding:20px 20px 40px 20px;
}
.cover hr {
	background: #d7d8da;
	height: 1px;
	margin:8px 0;
}
.cover h1.text-logo {
	font-weight:700;
	margin:0;
	padding:60px 0 0 0;
	letter-spacing: -0.07em;
	font-size: 60px;
}
.cover h3 {
	margin:95px 0 0 0;
	font-weight: 700;
	padding:0;
}
.cover span {
	display:block;
}

.copyright {
	margin:70px 0 0 0;
	padding:10px 0;
	color: #999;
	font-size: 12px;
	border-top: 1px solid #d7d8da;
}